.editArtist{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.image{
  overflow: hidden;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  sup{
    z-index: 10;
    font-size: 20px;
    color: white;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }
  cursor: pointer;
}