.list{
  height: 93%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.uploadTracks{
  height: 100%;
}

.uploadTracksItem{
  scale: 0.95;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 10px;
}