.theme--white {
  --color-text: black;
  --color-background: white;
  --color-desc: #B5B5B5;
  --color-gradient-primary: linear-gradient(90deg, #3DC3C0 -15.19%, #8568F5 111.92%);
  --color-gradient-secondary: linear-gradient(90deg, #00EEE9 -15.19%, #3200F3 111.92%);
  --color-primary: #7C74EE;
  --color-secondary: #39CABD;
  --color-opacity-bg: rgba(18, 18, 18, 0.50);
  --color-opacity-bg-secondary: rgba(124, 116, 238, 0.10);
  --color-opacity-bg-2: rgba(0, 0, 0, 0.1);
  --color-player: rgba(255, 255, 255, 0.40);
  --color-error: rgba(129, 0, 0, 0.4);
}



