.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .button{
    height: 20px;
  }
}

.tracks{
  list-style: none;
  > *{
    &:before{
      content: none;
    }
  }
}