.player {
  background: var(--color-player);
  width: 100%;
  z-index: 10;
  position: relative;
}

.inner {
  min-height: 105px;
  max-height: 105px;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  height: 100%;

  @media (max-width: 992px) {
    padding: 10px 20px;
  }

  @media(max-width: 992px) {
    flex-direction: column;
    gap: 5px;
    min-height: 150px;
    max-height: 150px;
  }
}

.info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 193px;

  @media(max-width: 992px) {
    text-align: center;
    width: 100%;
  }
}

.progress {
  display: flex;
  align-items: center;
  width: 320px;

  @media(max-width: 992px) {
    width: 100%;
    margin: 0 auto;
  }

  input {
    width: 250px;

    @media(max-width: 992px) {
      width: 100%;

    }
  }

  span {
    width: 30px;
  }

  gap: 10px;
}

.controls {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
  align-items: center;

  @media (max-width: 992px) {
    width: 100%;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
  }
  @media (max-width: 767px) {
    width: 100%;
    justify-content: space-between;
  }
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.volume {
  gap: 10px;
  display: flex;
  align-items: center;
}

.playlist {
  min-height: 0;
  max-height: 0px;
  overflow-y: scroll;
  transition: all .2s;
}

.active {
  max-height: 200px;
}

.toggleButton {
  width: 100%;
}