.track {
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 9px;
  transition: scale .2s;
  border-radius: 12px;
  min-width: 0;

  svg {
    min-width: 16px;
    ;
  }

  &:hover {
    scale: 0.99
  }

  &:active {
    background: var(--color-opacity-bg-2);
  }

  button {
    transition: all .2s;
    background: transparent;
    color: black;
    border-radius: 50%;
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background: black;
      color: white;
    }

    &:active {
      background: var(--color-gradient-primary);
      color: white;
    }
  }
}

.name {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-right: auto;
  min-width: 0;

  h3 {
    width: 98%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.active {
  background: var(--color-opacity-bg-secondary);
}