.bottom{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
  @media (max-width: 767px) {
    flex-direction: column;
  }
  h2{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 80%;
  }
}